@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-family: "Outfit", sans-serif;
}

.logo {
  font-size: 2rem;
  margin: 1rem;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3B82F6;
}

.login-btn {

  background-color: #fff;
  border: 1px solid #fff;
  color: #3B82F6;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 15px;
  width: 7rem;
  font-weight: bold;
}

.navbar li {
  font-weight: bold;
  list-style: none;
  color: #f3f4f6;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.navbar li:hover {
  cursor: pointer;
  color: #3B82F6;
  border: 1px solid #3B82F6;
  background-color: #fff;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  width: 50vw;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px #3B82F6;

}

.login-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2563EB;
  margin: 0;
  padding: 0;
}

.login-title {
  font-size: 2rem;
  margin: 1rem;
  color: #fff;
}

.login-name {
  font-size: 1.5em;
  margin: 1rem;
  color: #2563EB;
}

.login-card input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid #3B82F6;
}

.login-button {
  background-color: #3B82F6;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 15px;
  width: 7rem;
  font-weight: bold;
  border: none;
}

.login-button:hover {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 15px;
  width: 7rem;
  font-weight: bold;
  border: 1px solid #3B82F6;
  box-shadow: 0 0 10px #3B82F6;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


span {
  color: #2563EB;
  cursor: pointer;
}

.show-password-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 93%;
  margin: 0 0.5rem 1rem 0.5rem;
}

.show-password-container input {
  width: auto !important;
  margin: 0 0.5rem 0 0;
}

.show-password-container label {
  color: #3B82F6;
  font-size: 0.9rem;
  cursor: pointer;
}